[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/xchain-helpers"]
	path = lib/xchain-helpers
	url = https://github.com/sparkdotfi/xchain-helpers
[submodule "lib/skybase-address-registry"]
	path = lib/skybase-address-registry
	url = https://github.com/skybase-foundation/skybase-address-registry
